/*
 * Adjacent Siblings
 * a + b
 * 
 * b must be immediately below a, 
 * no element in between
 */
#adjacent-siblings h2 + p {
    color: red;
}

/* 
 * General Siblings
 * a ~ b
 *
 * b must be placed after a,
 */
#general-siblings h2 ~ p {
    color: red;
}

/* 
 * Child
 * a > b
 *
 * b must be direct child of a
 */
#child > p {
    color: red;
}

/* 
 * Descendant
 * a b
 *
 * a must be inside of b, doesn't matter how deep
*/
#descendant p {
    color: red;
}

