@import url('https://fonts.googleapis.com/css2?family=Encode+Sans&display=swap');

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

header {
    background-color: violet;
    color: white;
    font-family: 'Encode Sans', sans-serif;
    font-size: xx-large;
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#adjacent-siblings h2 + p {
    color: red;
}

#general-siblings h2 ~ p {
    color: red;
}

#child > p {
    color: red;
}

#descendant p {
    color: red;
}

